{{#with this.button}}

  <div id= "backdrop" class="hidden"></div>
  <div id= "create-display" class="hidden">
    <div id= "text-display" class= "display">
      <a href= "#" id= 'displayText' class= "that-was-text">That was {{this.[0]}}</a>
    </div>
  </div>
{{/with}}
