<div id= "backdrop" class= "vanish"></div>
<div id= "create-display" class= "vanish">
  <div class= "text-edit">
    <div class = edit-input>
      <label for="edit-text-input" class= "edit-text-lable">New Text:</label>
      <textarea id= "edit-text-input"></textarea>
    </div>
    <div class="option-footer">
      <button type= "button" id= "cancel" class= "cancel-button">Cancel</button>
      <button type= "button" id= "ok" class= "ok-button">OK</button>
    </div>
  </div>
</div>
